<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <style>
        textarea {
            resize: none;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <form action="/auth/logout" method="POST">
                <input type="submit" value="Logout"/>
            </form>
            <form action="/api/posts" method="POST">
                <textarea name="title" placeholder="title"></textarea>
                <textarea name="body" placeholder="body"></textarea>
                <input type="submit" value="POST"/>
            </form>
        </div>

        <h1>Posts</h1>
    </header>

    <main>
            <div>
                <% posts.forEach((post) => { %>
                    <div>
                        <a href="/views/posts/<%= post._id %>" style="text-decoration: none; color: black;">
                            <h2><%= post.title %></h2>
                        </a>    
                    </div>
                <% }) %>        
            </div>
    </main>
</body>
</html>